.alerts {
  display: flex;
  position: fixed;
  width: 300px;
  color: #ffffff;
  flex-flow: column;
  &__errors {

  }

  &__success {

  }
  &__item{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 20px;
  }

  &__itemSuccess{
    background: @successColor;
  }

  &__itemError{
    background: @cancelColor;
  }

  &__icon{
    padding: 5px;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    margin-right: 10px;
  }

  &__text{
    font-size: 16px;
    text-align: left;
    width: 200px;
  }
}
