.buttons {
  padding: 5px;
  border-radius: 20px;
  border:0;
  outline: 0;
  cursor: pointer;
  transition: all .2s;
  background: #ffffff;
  &:hover{
    transition: all .2s;
  }
  &__update {

  }

  &__addTask{
    margin-top: 10px;
    background: #ffffff;
    -webkit-box-shadow: 10px 10px 40px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -23px rgba(0,0,0,0.75);
    font-size: 20px;
    &:hover{
      color: #fff;
      background: #2c3e50;
    }
  }

  &__delete {

  }

  &__success{
    margin-left: 10px;
    padding: 10px 20px;
    background: @successColor;
    color: #ffffff;
    &:hover{
      background: @successHoverColor;
    }
  }

  &__cancel{
    margin-left: 10px;
    padding: 10px 20px;
    background: @cancelColor;
    color: #ffffff;
    &:hover{
      background: @cancelHoverColor;
    }
  }

  &__update{
    margin-left: 10px;
    padding: 10px 20px;
    background: @updateColor;
    color: #ffffff;
    &:hover{
      background: @updateHoverColor;
    }
  }


  &__icon{
    font-size: 20px;
    line-height: 0;
  }

  &--size{
    font-size: 18px;
  }
}

@media(max-width: 500px) {
  .buttons{
    &--size{
      font-size: 15px;
    }
    &__update, &__cancel, &__success{
      padding: 10px;
    }
  }
}
