.createPost{
  margin: 20px auto;
  background: #abbbcd;
  padding: 20px;
  max-width: 600px;
  border-radius: 20px;
  &__form{

  }
  &__tasks{

  }
  &__titleBlock{
    display: flex;
    flex-flow: column;
    margin: 0 10px;
  }
  &__inputTitle{

  }
  &__title{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 0;
  }
  &__actions{
    display: flex;
  }
  &__buttons{

  }
  &__buttonsChanges{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  &__buttonsActions{
    display: flex;
    justify-content: space-between;
  }
}
