.indexPage{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-flow: column;
  &__createPost{
    margin: 0 10px;
  }
  &__todoItems{
    margin: 0 10px;
  }
  &__empty{
    font-size: 20px;
    color: #ffffff;
  }
}
