.input{
  border-radius: 20px;
  border: 0;
  padding: 5px 10px;
  background: rgba(254, 254, 254, 0.49);
  color: #2c3e50;
  font-size: 20px;
  &:focus{
    outline: 0;
    border: 0;
  }
  &__taskUpdate{
    font-size: 16px;
    padding: 10px;
  }
}

@media(max-width: 500px) {
  .input{
    font-size: 16px;
    padding: 10px 20px;
  }
}
