.inputTaskUpdate{
  display: flex;
  margin-right: 20px;
  &__input{
    width: 100%;
  }
  &__buttons{
    display: flex;
  }
}

@media(max-width: 500px){
  .inputTaskUpdate{
    flex-flow: column;
    margin-right: 0;
    &__input{
      margin-bottom: 10px;
      width: auto;
    }
    &__buttons{
      justify-content: flex-end;
    }
  }
}
