.tasksList{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  &__item{
    width: 100%;
    margin-bottom: 10px;
  }
  &__hiddenBlock{
    font-size: 16px;
    display: flex;
    text-align: left;
    width: 95%;
    justify-content: space-between;
  }
  &__textInput{
    display: flex;
    margin-left: 10px;
  }
  &__actions{
    display: flex;
  }
  &__checkbox{

  }
  &__close{

  }
}

@media(max-width: 500px){
  .tasksList{
    &__item{
      width: 93%;
    }
    &__textInput{
      margin-left: 0;
    }
    &__hiddenBlock{
      width: 100%;
    }
  }
}
