.tasksForm{
  display: flex;
  justify-content: center;
  margin: 20px 10px 0;
  &__input{
    margin-right: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  &__textTask{
    width: 100%;
  }
  &__buttons{
    display: flex;
  }
}

@media(max-width: 500px){
  .tasksForm{
    flex-flow: column;
    &__textTask{
      margin-bottom: 10px;
    }
    &__buttons{
      justify-content: flex-end;
    }

  }
}
