.todoItem{
  display: block;
  max-width: 600px;
  border-radius: 20px;
  margin: 0 auto 20px;
  padding: 10px 20px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 10px 7px 31px -16px rgba(0,0,0,1);
  -moz-box-shadow: 10px 7px 31px -16px rgba(0,0,0,1);
  box-shadow: 10px 7px 31px -16px rgba(0,0,0,1);
  &__title{
    font-size: 20px;
    margin-left: 10px;
  }
  &__list{

  }
  &__buttons{
    display: flex;
    justify-content: flex-end;
  }


}

