<template>
  <div class="indexPage">
    <div class="indexPage__createPost">
      <CreatePost/>
    </div>
    <div class="indexPage__todoItems">
      <h2 class="title"> Todo List </h2>
      <todoItem v-if="$store.state.posts.length" v-for="item in $store.state.posts" :key="item.id + '_post'" v-bind:post="item"/>
      <div class="indexPage__empty" v-if="!$store.state.posts.length">
        Empty list
      </div>
    </div>
  </div>
</template>

<script>

  import Vue from 'vue'
  import todoItem from "../components/todoItem";
  import CreatePost from '../components/createPost'


  export default Vue.extend({
    name: 'index',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
      }
    },
    components: {
      todoItem, CreatePost
    },
    methods: {

    }
  })
</script>


