<template>
  <div>
    <h1> Post id: {{ id }} </h1>
    <CreatePost v-bind:post="postData" />
  </div>
</template>

<script>
  import Vue from 'vue'
  import  { mapGetters } from 'vuex'
  import CreatePost from './../components/createPost'

  export default Vue.extend({
    name: "post",
    components: {
      CreatePost
    },
    data() {
      return {
        id: this.$route.params.id,
        postData: {}
      }
    },
    created() {
      this.getPostData()
    },
    methods: {
      ...mapGetters(['GET_POST']),
      getPostData(){
        this.postData = this.GET_POST().find(post => post.id === this.id);
        if(!this.postData){
          this.$router.push({ name: 'index' })
        }
      }

    }
  })
</script>

