<template>
  <div class="alerts">
    <div class="alerts__errors">
        <div class="alerts__itemError alerts__item" v-for="item of $store.state.alerts.errors">
          <div class="alerts__icon">
            <span>&#9888;</span>
          </div>
          <div class="alerts__text">
            {{ item.text }}
          </div>
        </div>
    </div>
    <div class="alerts__success">
      <div class="alerts__itemSuccess alerts__item" v-for="item of $store.state.alerts.success">
        <div class="alerts__icon">
          <span>&#10004;</span>
        </div>
        <div class="alerts__text">
          {{ item.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: "alerts"
  })
</script>
