<template>
  <div>
    <h2 class="title"> {{ !modeCreate ? 'Update' : 'Create'}} post </h2>
    <div class="createPost">
      <form class="createPost__form">
        <div class="createPost__titleBlock">
          <input type="text" name="title" class="input createPost__inputTitle"
                 v-bind:value="modeCreate ? $store.state.newPost.title: this.$store.state.updatePost.title"
                 placeholder="Post title"
                 @input="handleChangeText">
          <button class="createPost__buttons buttons buttons__addTask" @click.stop.prevent="showTaskForm">&#43; Add task
          </button>
        </div>
        <transition name="fade">
          <div class="createPost__tasksForm tasksForm" v-show="tasksInput">
            <div class="tasksForm__textTask">
              <input type="text" class="tasksForm__input input " v-model="taskTitle" placeholder="Task text">
            </div>
            <div class="tasksForm__buttons">
              <button class="buttons buttons__success" @click.stop.prevent="addTask">Ok</button>
              <button class="buttons buttons__cancel" @click.stop.prevent="hideTaskForm">Cancel</button>
            </div>
          </div>
        </transition>
      </form>
      <div class="createPost__tasks">
        <Tasks v-bind:tasks="!modeCreate ? $store.state.updatePost.tasks : $store.state.newPost.tasks"
               v-bind:updateMode="!modeCreate"
               v-bind:mode="'update'"/>
      </div>
      <button class="buttons buttons__success buttons--size" v-if="modeCreate" @click.stop.prevent="addPost">Add post</button>
      <div class="createPost__buttons" v-else>
        <div class="createPost__buttonsChanges" v-show="$store.state.updateMode.anyChanges">
          <button class="buttons buttons__update" v-if="$store.state.updateMode.discardChanges"
                  @click.stop.prevent="discardChanges">
                        <span class="buttons__icon">↺</span> Discard change
          </button>
          <button class="buttons buttons__update" v-else-if="$store.state.updateMode.revertCanceled"
                  @click.stop.prevent="revertCanceledChanges">
            <span class="buttons__icon">↻</span>   Repeat canceled change
          </button>
        </div>
        <div class="createPost__buttonsActions">
          <div class="createPost__buttonsBlock">
            <button class="buttons buttons__success" @click.stop.prevent="addPost">Update post</button>
            <button class="buttons buttons__cancel" @click.stop.prevent="deletePost">Delete post</button>
          </div>
          <button class="buttons buttons__update" @click.stop.prevent="exitUpdateMode">Exit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import {mapActions} from 'vuex'
  import Tasks from './tasks'
  import Popover from './popover'

  export default Vue.extend({
    name: "createPost",
    props: ['post'],
    data() {
      return {
        tasksInput: false,
        taskTitle: '',
        modeCreate: true,
        mode: 'update'
      }
    },
    created() {
      if (this.post) {
        this.modeCreate = false;
        this.setUpdateState();
      }
    },
    components: {
      Tasks, Popover
    },
    methods: {
      ...mapActions([
        'HANDLE_CHANGE_TITLE',
        'ADD_TASK', 'ADD_POST',
        'HANDLE_UPDATE_TITLE',
        'OPEN_MODAL',
        'DISCARD_CHANGES_APPLY',
        'REVERT_CHANGES_APPLY',
        'ADD_TASK_UPDATE',
        'ADD_ERROR',
        'ADD_SUCCESS',
        'SET_UPDATE_STATE']),
      handleChangeText(e) {
        if (this.modeCreate) {
          this.HANDLE_CHANGE_TITLE(e.target.value);
        } else {
          this.HANDLE_UPDATE_TITLE(e.target.value);
        }
      },
      exitUpdateMode() {
        this.OPEN_MODAL({id: this.post.id, text: `Do you rally want to exit from update mode?`, action: 'Exit'});
      },
      deletePost() {
        this.OPEN_MODAL({
          id: this.post.id,
          text: `Do you want to delete the post "${this.post.title}"?`,
          action: 'Delete'
        });
      },
      discardChanges() {
        this.DISCARD_CHANGES_APPLY();
      },
      revertCanceledChanges() {
        this.REVERT_CHANGES_APPLY();
      },
      setUpdateState() {
        this.SET_UPDATE_STATE(this.post.id);
      },
      showTaskForm() {
        this.tasksInput = true;
      },
      hideTaskForm() {
        this.tasksInput = false;
      },
      addTask() {
        if (this.taskTitle) {
          if (this.modeCreate) {
            this.ADD_TASK(this.taskTitle);
          } else {
            this.ADD_TASK_UPDATE(this.taskTitle);
          }
          this.clearTaskForm();
        } else {
          this.ADD_ERROR({text: 'Title task is empty'});
        }

      },
      clearTaskForm() {
        this.tasksInput = false;
        this.taskTitle = ''
      },
      addPost() {
        if (this.modeCreate) {
          if (this.$store.state.newPost.title) {
            this.ADD_POST();
            this.ADD_SUCCESS({text: 'Created new post'});
          } else {
            this.ADD_ERROR({text: 'Title post is empty'});
          }
        } else {
          if(!this.$store.state.updateMode.anyChanges){
            this.ADD_ERROR({text: 'Nothing changes'});
          }else if(this.$store.state.updatePost.title) {
            this.ADD_POST(this.post.id);
            this.ADD_SUCCESS({text: 'Post was updated'});
          } else {
            this.ADD_ERROR({text: 'Title post is empty'});
          }
        }
      }
    }
  })
</script>

