<template>
  <div class="inputTaskUpdate" id="inputTaskUpdate">
    <input type="text" v-model="textModel" class="inputTaskUpdate__input input input__taskUpdate"
           placeholder="Task text">
    <div class="inputTaskUpdate__buttons">
      <button class="buttons buttons__success" @click.stop.prevent="successUpdateTask">Ok</button>
      <button class="buttons buttons__cancel" @click.stop.prevent="cancelUpdateTask">Cancel</button>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import {mapActions} from 'vuex'

  export default Vue.extend({
    name: "inputTaskUpdate",
    props: ['taskId', 'textTask', 'updateMode'],
    data() {
      return {
        textModel: this.textTask
      }
    },
    methods: {
      ...mapActions([
        'UPDATE_TASK_NEW_POST',
        'CANCEL_MODE_NEW_POST']),
      successUpdateTask() {
        if (this.textModel) {
          if (this.updateMode) {
            this.UPDATE_TASK_NEW_POST({id: this.taskId, text: this.textModel, updateMode: true});
          } else {
            this.UPDATE_TASK_NEW_POST({id: this.taskId, text: this.textModel});
          }
        } else {
          alert('text is empty')
        }

      },
      cancelUpdateTask() {
        if (this.updateMode) {
          this.CANCEL_MODE_NEW_POST({id: this.taskId, updateMode: true});
        } else {
          this.CANCEL_MODE_NEW_POST({id: this.taskId});
        }
      }
    }
  })
</script>


