<template>
  <div class="popover">
    <span class="removeTask" v-if="type === 'remove'" v-show="mode !== 'read'" @click="removeTask" >&times;</span>
    <span class="removeTask removeTask--update" v-else-if="type === 'update'" v-show="mode !== 'read'" @click="updateTask" >&#9998;</span>
    <div class="popover__content">
      <p class="popover__message">{{ type === 'remove' ? 'Remove' : 'Update' }} "{{ text.slice(0, 10) }}..."</p>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import { mapActions } from 'vuex';


  export default Vue.extend({
    name: "popover",
    props: ['text', 'mode', 'id', 'type', 'updateMode'],
    methods: {
      ...mapActions([
        'REMOVE_TASK_NEW_POST',
        'UPDATE_MODE_NEW_POST']),
      removeTask(){
        if(this.updateMode){
          this.REMOVE_TASK_NEW_POST({id: this.id, updateMode: true});
        }else{
          this.REMOVE_TASK_NEW_POST({id: this.id})
        }
      },
      updateTask(){
        if(this.updateMode){
          this.UPDATE_MODE_NEW_POST({id: this.id, updateMode: true});
        }else{
          this.UPDATE_MODE_NEW_POST({id: this.id});
        }

      }
    }
  })
</script>
