<template>
  <ul class="tasksList">
    <li class="tasksList__item" v-for="task in tasks" :key="task.id" :id="task.id">
      <div class="tasksList__hiddenBlock" v-if="task.mode === 'read'">
        <div class="tasksList__textInput">
          <input type="checkbox" class="tasksList__checkbox custom-checkbox" @change="changeCheckbox"
                 v-bind:checked="task.checked" :name="task.id + '__'" :id="task.id + '__'" :disabled="!updateMode">
          <label :for="task.id + '__'" class="tasksList__text">{{ task.text }}</label>
        </div>

        <div class="tasksList__actions">
          <Popover v-bind:text="task.text" v-bind:type="'update'"
                   v-bind:updateMode="updateMode"
                   v-bind:mode="mode" v-bind:id="task.id"/>
          <Popover v-bind:text="task.text" v-bind:type="'remove'"
                   v-bind:updateMode="updateMode"
                   v-bind:mode="mode" v-bind:id="task.id"/>
        </div>
      </div>
      <inputTaskUpdate v-else-if="task.mode === 'update'"
                       v-bind:textTask="task.text"
                       v-bind:updateMode="updateMode"
                       v-bind:taskId="task.id"/>
    </li>
  </ul>
</template>

<script>
  import Vue from 'vue';
  import Popover from './popover'
  import inputTaskUpdate from './inputTaskUpdate'
  import { mapActions } from 'vuex'

  export default Vue.extend({
    name: "tasks",
    props: ['tasks', 'mode', 'updateMode'],
    components: {
      Popover, inputTaskUpdate
    },
    methods: {
      ...mapActions(['CHANGE_CHECKED_STATE']),
      changeCheckbox(e){
        let id = e.path[3].id;
        this.CHANGE_CHECKED_STATE(id);
      }
    }
  })
</script>


