<template>
  <div class="todoItem">
    <h3 class="todoItem__title">{{ post.title }}</h3>
    <Tasks v-bind:tasks="post.tasks" v-bind:mode="'read'"/>
    <div class="todoItem__buttons">
      <router-link :to="{ name: 'post', params: { id: post.id }}">
        <button class="buttons buttons__update">
          Update
        </button>
      </router-link>
      <button class="buttons buttons__cancel" @click.stop.prevent="openModal">
        Delete
      </button>
    </div>

  </div>
</template>

<script>
  import Vue from 'vue'
  import {mapActions} from 'vuex'
  import Tasks from './tasks'

  export default Vue.extend({
    name: "todoItem",
    props: ['post'],
    data() {
      return {}
    },
    components: {
      Tasks
    },
    methods: {
      ...mapActions(['OPEN_MODAL']),
      openModal() {
        this.OPEN_MODAL({ id: this.post.id, text: `Do you want to delete the post "${ this.post.title }"?`, action: 'Delete'});
      }
    }
  })
</script>

