<template>
  <div id="app">
    <Modal />
    <Alerts />

    <router-view>

    </router-view>

  </div>
</template>

<script>

  import Vue from 'vue'
  import Modal from './components/modal'
  import Alerts from "./components/alerts";

  export default Vue.extend({
    name: 'app',
    components: {
      Modal, Alerts
    },
    methods: {

    }
  })
</script>

<style lang="less">
  @import './assets/style/main.less';
</style>

